* {color: #333; font-size: 15px;margin: 0;padding: 0;list-style: none;text-decoration: none;box-sizing: border-box;color: inherit;}
:root { 
  --main: #8A71FF;
  --sub: #e8e3ff;
  --dark: #311f97;
  --text: #c9c9c9;
}

.wrap {width: 1300px;}
img {object-fit: cover;}

/* 헤더 */
header {position: fixed;top: 0;border-bottom: 1px solid #ccc; width: 100%;display: flex;align-items: center;justify-content: center;height: 80px;background-color: #ffffffc0;backdrop-filter: blur(3px);}
header .wrap {display: flex;align-items: center;justify-content: space-between;}
.dropdown {display: flex;}
.dropdown ul {position: relative;}
.dropdown ul li a {transition: .3s; height: 45px;width: 100px;display: flex;justify-content: center;align-items: center;}
.dropdown .sub {top: 50px;transition: .3s ease; height: 0;overflow: hidden;position: absolute;}
.dropdown ul:hover .sub { height: 90px;background-color: #fff;}
.dropdown .sub li a {height: 45px;display: flex;align-items: center;}
header li a:hover {background-color: var(--sub);color: var(--dark);}
header .auth-link {display: flex;}
header .auth-link li a{transition: .3s; height: 45px;width: 100px;display: flex;justify-content: center;align-items: center;}
header .logo {height: 60px;}
header .logo img {width: 100%;height: 100%;}

/* 소개 */
.visual-content {justify-content: center;margin-top: 150px;display: flex;align-items: center;height: 100%;}
.visual-content .slide {overflow: hidden; width: 100%;height: 700px;display: flex;align-items: center;}
.visual-content .slide-wrap {display: flex;width: 400%;height: 100%;align-items: center;animation: slide 12s infinite;}
.visual-content .slide li {width: 1300px;height: 100%;position: relative;}
.visual-content .slide .slide-text {color: white; position: absolute;bottom: 30px;left: 30px;padding: 15px;background-color: var(--dark);backdrop-filter: blur(3px) grayscale(100%);font-weight: 500;}
.slide-text h3 {font-size: 20px;}
/* @keyframes slide {
    0%, 20% { transform: translateX(0); }

    25%, 45% { transform: translateX(-25%); }

    50%, 70% { transform: translateX(-50%); }

    75%, 95% { transform: translateX(-75%); }

    100% { transform: translateX(-100%); }
} */